<h1>Adicionar Vaga</h1>
<form method="post">
    <label for="name">Identificação</label>
    <input type="text" name="name" id="name" placeholder="Identificação da Vaga">
    <label for="type">Tipo da Vaga</label>
    <select name="type" id="type">
        <option value="1">Exclusiva</option>
        <option value="2">Compartilhada</option>
    </select>
    <label for="fixed">Vaga Fixa?</label>
    <input type="checkbox" name="fixed" id="fixed">
    <button type="submit">Enviar</button>
</form>