<form method="post">
    <input type="text" name="name" id="name">
    <input type="text" name="tower" id="tower">
    <input type="text" name="period" id="period">
    <button type="submit">Enviar</button>
</form>